<template>
  <div>

    <md-toolbar class="md-transparent" md-elevation="0">
      Navigation
    </md-toolbar>

    <md-list>
      <md-list-item v-if="user == 1" @click="link('inventarisir')">
        <md-icon>move_to_inbox</md-icon>
        <span class="md-list-item-text">Inventaris</span>
      </md-list-item>

      <md-list-item @click="link('inventarisir')">
        <md-icon>send</md-icon>
        <span class="md-list-item-text">Peminjaman</span>
      </md-list-item>

      <md-list-item v-if="user != 3" @click="link('inventarisir')">
        <md-icon>delete</md-icon>
        <span class="md-list-item-text">Pengembalian</span>
      </md-list-item>

      <md-list-item v-if="user == 1" @click="link('inventarisir')">
        <md-icon>delete</md-icon>
        <span class="md-list-item-text">Generate Laporan</span>
      </md-list-item>

      <md-list-item @click="logout">
        <md-icon>power_settings_new</md-icon>
        <span class="md-list-item-text">Log Out</span>
      </md-list-item>
    </md-list> 
  </div>
</template>

<script>
export default {
  name: "MenuComponent",
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      user:null,
      loading:true,
      menuVisible:false
    };
  },
  mounted(){
    this.getUser();
  },
  methods: {
    logout() {
      var that = this;
      this.loading = true;
      axios
      .post("logout",{
        "_token"   : that.csrf
      })
      .then(response => {
        console.log(response.data);
        window.location.replace("/");
        that.loading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.loading = false;
      });
    },
    getUser(){
      var that = this;
      axios
      .get("getUser")
      .then(response => {
        that.user = response.data.id_level;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    link(url){
      window.location.replace(url);
    }
  }
}
</script>