<template>
  <div class="page-container">
    <md-button
      class="md-fab md-primary md-icon-button md-fixed md-fab-bottom-right"
      @click="showGeneratePeminjaman = true"
      v-if="linked == 'pengembalian'"
    >
      <md-icon>print</md-icon>
    </md-button>
    <md-dialog :md-active.sync="showGeneratePeminjaman" style="width:500px;">
      <md-dialog-content>
        <md-datepicker v-model="TanggalMulai" md-immediately ><label>Mulai</label></md-datepicker>
        <md-datepicker v-model="TanggalAkhir" md-immediately ><label>Akhir</label></md-datepicker>
        <md-button @click="generatePeminjaman" v-if="TanggalMulai <= TanggalAkhir && TanggalMulai != null && TanggalAkhir != null" class="md-primary md-raised">Generate</md-button>
      </md-dialog-content>
    </md-dialog>
    <md-app md-waterfall md-mode="fixed-last">
      <md-app-toolbar class="md-large md-dense md-primary">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-start">
            <span class="md-title">Aplikasi Inventaris Sarana Prasarana SMK</span>
          </div>

          <div class="md-toolbar-section-end">
            {{user.nama_petugas}} sebagai {{user.level.nama_level}}
            <md-menu md-size="auto">
              <md-button class="md-icon-button" md-menu-trigger>
                <md-icon>more_vert</md-icon>
              </md-button>

              <md-menu-content>
                <md-menu-item v-if="user.id_level == 1" @click="generateLaporan">Generate Laporan</md-menu-item>
                <md-menu-item @click="logout">
                  <span>Log Out</span>
                  <md-icon>power_settings_new</md-icon>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>

        <div class="md-toolbar-row">
          <md-tabs class="md-primary" @md-changed="link">
            <md-tab id="inventarisir" v-if="user.id_level == 1" md-label="Inventarisir"></md-tab>
            <md-tab id="peminjaman" md-label="Peminjaman"></md-tab>
            <md-tab id="pengembalian" v-if="user.id_level != 3" md-label="Pengembalian"></md-tab>
          </md-tabs>
        </div>
      </md-app-toolbar>

      <md-app-content>
        <inventarisir-component v-if="linked == 'inventarisir' && user.id_level == 1"></inventarisir-component>
        <peminjaman-component :showKembalikan="showKembalikan" v-if="linked == 'peminjaman'"></peminjaman-component>
        <pengembalian-component
          :showKembalikan="showKembalikan"
          v-if="linked == 'pengembalian' && user.id_level != 3"
        ></pengembalian-component>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
.md-app {
  max-height: 100vh;
  min-height: 100vh;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.md-list-item {
  cursor: pointer;
}
</style>

<script>
import InventarisirComponent from "../inventarisir/InventarisirComponent.vue";
import PeminjamanComponent from "../peminjaman/PeminjamanComponent.vue";
import PengembalianComponent from "../pengembalian/PengembalianComponent.vue";
export default {
  name: "TemplateComponent",
  components: {
    "inventarisir-component": InventarisirComponent,
    "peminjaman-component": PeminjamanComponent,
    "pengembalian-component": PengembalianComponent
  },
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      user: null,
      loading: true,
      menuVisible: false,
      linked: null,
      showGeneratePeminjaman: false,
      TanggalMulai:null,
      TanggalAkhir:null
    };
  },
  mounted() {
    this.getUser();
  },
  methods: {
    generateLaporan() {
      window.open("/generateLaporan", "_blank");
    },
    generatePeminjaman() {
      var m = new Date(this.TanggalMulai),a = new Date(this.TanggalAkhir);
      var mulai = m.getFullYear()+"-"+(m.getMonth()+1)+"-"+m.getDate();
      var akhir = a.getFullYear()+"-"+(a.getMonth()+1)+"-"+a.getDate();
      window.open("/laporanPeminjaman/"+mulai+"/"+akhir, "_blank");
    },
    logout() {
      var that = this;
      this.loading = true;
      axios
        .post("logout", {
          _token: that.csrf
        })
        .then(response => {
          console.log(response.data);
          window.location.replace("/");
          that.loading = false;
        })
        .catch(function(error) {
          console.log(error.response.data);
          that.loading = false;
        });
    },
    getUser() {
      var that = this;
      axios
        .get("getUser")
        .then(response => {
          that.user = response.data.user;
          that.linked = response.data.link;
        })
        .catch(function(error) {
          console.log(error.response.data);
        });
    },
    link(url) {
      this.linked = url;
      this.menuVisible = false;
    }
  }
};
</script>