<template>
  <md-tabs md-dynamic-height :md-active-tab="editMode">
    <md-tab id="dataRuang" md-label="Data">
      <md-table v-model="Ruangs" md-card>
        <md-table-toolbar>
          <h1 class="md-title">Ruang</h1>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Kode Ruang" md-sort-by="kode_ruang" md-numeric>{{ item.kode_ruang }}</md-table-cell>
          <md-table-cell md-label="Nama Ruang" md-sort-by="nama_ruang">{{ item.nama_ruang }}</md-table-cell>
          <md-table-cell md-label="Keterangan">{{ item.keterangan }}</md-table-cell>
          <md-table-cell md-label="Action"><md-button @click="deleteForm(item.id_ruang)" v-if="idRuang===null" class="md-accent md-raised">Delete</md-button><md-button @click="fillForm(item.id_ruang)" class="md-primary md-raised">Edit</md-button></md-table-cell>
        </md-table-row>
      </md-table>
    </md-tab>
    <md-tab id="formRuang" md-label="Input">
      <md-field>
        <label>Kode Ruang</label>
        <md-input v-model="kodeRuang"></md-input>
      </md-field>
      <md-field>
        <label>Nama Ruang</label>
        <md-input v-model="namaRuang"></md-input>
      </md-field>
      <md-field>
        <label>Keterangan Ruang</label>
        <md-textarea v-model="keteranganRuang"></md-textarea>
      </md-field>
      <md-button @click="clearForm" class="md-accent md-raised" v-if="idRuang!==null">Clear</md-button>
      <md-button @click="submitForm" class="md-primary md-raised">Save changes</md-button>
    </md-tab>
  </md-tabs>
</template>

<script>
export default {
  name: "FormRuangComponent",
  mounted: function() {
    this.list();
  },
  data() {
    return {
      Ruangs: [],
      namaRuang:null,
      kodeRuang:null,
      keteranganRuang:null,
      idRuang:null,
      isLoading:false,
      editMode:null
    };
  },
  methods: {
    list: function() {
      var that = this;
      that.isLoading = true;
      axios
      .get("allRuang/", {})
      .then(response => {
        console.log(response.data);
        that.Ruangs = response.data.data;
        that.clearForm();
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    fillForm: function(id){
      var that = this;
      that.isLoading = true;
      that.editMode  = "formRuang";
      axios
      .get("getRuang/"+id)
      .then(response => {
        console.log(response.data);
        that.namaRuang       = response.data.data.nama_ruang;
        that.kodeRuang       = response.data.data.kode_ruang;
        that.keteranganRuang = response.data.data.keterangan;
        that.idRuang         = id;
        that.editMode  = null;
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    deleteForm: function(id){
      var that = this;
      that.isLoading = true;
      axios
      .get("deleteRuang/"+id)
      .then(response => {
        console.log(response.data);
        that.list();
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    submitForm: function(){
      var that = this;
      that.isLoading = true;
      that.editMode  = "dataRuang";
      axios
      .post("addRuang", {
        "idRuang"         : that.idRuang,
        "kodeRuang"       : that.kodeRuang,
        "namaRuang"       : that.namaRuang,
        "keteranganRuang" : that.keteranganRuang
      })
      .then(response => {
        console.log(response.data);
        that.list();
        that.clearForm();
        that.editMode  = null;
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    clearForm: function(){
      this.idRuang = this.kodeRuang = this.namaRuang = this.keteranganRuang = null;
    }
  }
};
</script>