<template>
  <md-tabs md-dynamic-height :md-active-tab="editMode">
    <md-tab id="dataJenis" md-label="Data">
      <md-table v-model="JenisBarangs" md-card>
        <md-table-toolbar>
          <h1 class="md-title">Jenis Barang</h1>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Kode Jenis" md-sort-by="kode_jenis" md-numeric>{{ item.kode_jenis }}</md-table-cell>
          <md-table-cell md-label="Nama Jenis" md-sort-by="nama_jenis">{{ item.nama_jenis }}</md-table-cell>
          <md-table-cell md-label="Keterangan">{{ item.keterangan }}</md-table-cell>
          <md-table-cell md-label="Action"><md-button @click="deleteForm(item.id_jenis)" v-if="idJenis===null" class="md-accent md-raised">Delete</md-button><md-button @click="fillForm(item.id_jenis)" class="md-primary md-raised">Edit</md-button></md-table-cell>
        </md-table-row>
      </md-table>
    </md-tab>
    <md-tab id="formJenis" md-label="Input">
      <md-field>
        <label>Kode Jenis</label>
        <md-input v-model="kodeJenis"></md-input>
      </md-field>
      <md-field>
        <label>Nama Jenis</label>
        <md-input v-model="namaJenis"></md-input>
      </md-field>
      <md-field>
        <label>Keterangan Jenis</label>
        <md-textarea v-model="keteranganJenis"></md-textarea>
      </md-field>
      <md-button @click="clearForm" class="md-accent md-raised" v-if="idJenis!==null">Clear</md-button>
      <md-button @click="submitForm" class="md-primary md-raised">Save changes</md-button>
    </md-tab>
  </md-tabs>
</template>

<script>
export default {
  name: "FormJenisBarangComponent",
  mounted: function() {
    this.list();
  },
  data() {
    return {
      JenisBarangs: [],
      namaJenis:null,
      kodeJenis:null,
      keteranganJenis:null,
      idJenis:null,
      isLoading:false,
      editMode:null
    };
  },
  methods: {
    list: function() {
      var that = this;
      axios
      .get("allJenisBarang/")
      .then(response => {
        console.log(response.data);
        that.JenisBarangs = response.data.data;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    fillForm: function(id){
      var that = this;
      that.isLoading = true;
      that.editMode  = "formJenis";
      axios
      .get("getJenisBarang/"+id)
      .then(response => {
        console.log(response.data);
        that.namaJenis       = response.data.data.nama_jenis;
        that.kodeJenis       = response.data.data.kode_jenis;
        that.keteranganJenis = response.data.data.keterangan;
        that.idJenis         = id;
        that.editMode = null;
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    deleteForm: function(id){
      var that = this;
      that.isLoading = true;
      axios
      .get("deleteJenisBarang/"+id)
      .then(response => {
        console.log(response.data);
        that.list();
        that.clearForm();
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    submitForm: function(){
      var that = this;
      that.isLoading = true;
      that.editMode = "dataJenis";
      axios
      .post("addJenisBarang", {
        "idJenis"         : that.idJenis,
        "kodeJenis"       : that.kodeJenis,
        "namaJenis"       : that.namaJenis,
        "keteranganJenis" : that.keteranganJenis
      })
      .then(response => {
        console.log(response.data);
        that.list();
        that.clearForm();
        that.editMode = null;
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    clearForm: function(){
      this.idJenis = this.kodeJenis = this.namaJenis = this.keteranganJenis = null;
    }
  }
};
</script>