<template>
  <md-dialog-content>
    <form @submit="checkForm">
      <h1>Inventarisir</h1>
      <h3 v-if="peminjam.length > 0 && detailMode">Terpinjam : {{jml_pinjam}}</h3>
      <md-table v-if="peminjam.length > 0 && detailMode">
        <md-table-row>
          <md-table-head>No</md-table-head>
          <md-table-head>NIP</md-table-head>
          <md-table-head>Nama</md-table-head>
          <md-table-head>Jumlah</md-table-head>
        </md-table-row>
        <md-table-row v-for="(Items,Index) in peminjam" :key="Items.pegawai.id_pegawai">
          <md-table-cell>{{Index+1}}</md-table-cell>
          <md-table-cell>{{Items.pegawai.nip}}</md-table-cell>
          <md-table-cell>{{Items.pegawai.nama_pegawai}}</md-table-cell>
          <md-table-cell>{{terpinjam[Index].jumlah}}</md-table-cell>
        </md-table-row>
      </md-table>
      <md-field>
        <label>Kode Inventaris</label>
        <md-input v-model="kodeInventarisir" :readonly="detailMode" required></md-input>
      </md-field>
      <md-field>
        <label>Nama Inventarisir</label>
        <md-input v-model="namaInventarisir" :readonly="detailMode" required></md-input>
      </md-field>
      <md-field>
        <label for="kondisi">Kondisi</label>
        <md-select v-model="Kondisi" :disabled="detailMode" name="Kondisi" id="kondisi" required>
          <md-option value="Bagus">Bagus</md-option>
          <md-option value="Cukup">Cukup</md-option>
          <md-option value="Kurang Bagus">Kurang Bagus</md-option>
        </md-select>
      </md-field>
      <md-field>
        <label>Keterangan Inventarisir</label>
        <md-textarea v-model="keteranganInventarisir"  :readonly="detailMode"></md-textarea>
      </md-field>
      <md-field>
        <label>Jumlah</label>
        <md-input v-model="Jumlah" type="number" :readonly="detailMode" required></md-input>
      </md-field>
      <md-field>
        <label for="jenis">Jenis Barang</label>
        <md-select v-model="Jenis" name="Jenis" :disabled="detailMode" id="jenis" required>
          <md-option v-for="Item in JenisBarangs" :key="Item.id_jenis" :value="Item.id_jenis">{{Item.kode_jenis}} {{Item.nama_jenis}}</md-option>
        </md-select>
      </md-field>
      <md-field>
        <label for="ruang">Ruang</label>
        <md-select v-model="Ruang" name="Ruang" :disabled="detailMode" id="ruang" required>
          <md-option v-for="Item in Ruangs" :key="Item.id_ruang" :value="Item.id_ruang">{{Item.kode_ruang}} {{Item.nama_ruang}}</md-option>
        </md-select>
      </md-field>
      <md-button @click="deleteForm" class="md-accent md-raised" v-if="idInventaris !== null && !detailMode">Delete</md-button>
      <md-button @click="submitForm" v-if="!detailMode" type="submit" class="md-primary md-raised">Save changes</md-button>
    </form>
  </md-dialog-content>
</template>

<script>
export default {
  name: "FormInventarisirComponent",
  mounted: function() {
    console.log("Readonly : "+this.detailMode);
    if(this.idInventaris != null){
      this.fillForm();
    }
    this.listRuang();
    this.listJenis();
  },
  props:{
    idInventaris: {
      type:Number,
      default: 0
    },
    detailMode: {
      type:Boolean,
      default: false
    }
  },
  data() {
    return {
      namaInventarisir:null,
      kodeInventarisir:null,
      keteranganInventarisir:null,
      Kondisi:"Bagus",
      Jumlah:null,
      Jenis:null,
      Ruang:null,
      isLoading:false,
      Ruangs:[],
      JenisBarangs:[],
      deleted:false,
      terpinjam:[],
      peminjam:[],
      jml_pinjam:0
    };
  },
  methods: {
    checkForm:function(e){
      e.preventDefault();
      console.log(e);
    },
    listJenis: function() {
      var that = this;
      axios
      .get("allJenisBarang/")
      .then(response => {
        console.log(response.data);
        that.JenisBarangs = response.data.data;
        if(that.idInventaris === null){
          that.Jenis = response.data.data[0].id_jenis;
        }
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    listRuang: function() {
      var that = this;
      axios
      .get("allRuang/")
      .then(response => {
        that.Ruangs = response.data.data;
        if(that.idInventaris === null){
          that.Ruang = response.data.data[0].id_ruang;
        }
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    fillForm: function(){
      var that = this;
      that.isLoading = true;
      axios
      .get("getInventaris/"+this.idInventaris)
      .then(response => {
        console.log(response.data);
        that.Jenis = response.data.data.id_jenis;
        that.Ruang = response.data.data.id_ruang;
        that.Jumlah = response.data.data.jumlah;
        that.keteranganInventarisir = response.data.data.keterangan;
        that.Kondisi = response.data.data.kondisi;
        that.namaInventarisir = response.data.data.nama;
        that.kodeInventarisir = response.data.data.kode_inventaris;
        that.peminjam = response.data.data.peminjaman;
        that.terpinjam = response.data.data.detail_pinjam;
        that.jml_pinjam = response.data.data.terpinjam;
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    submitForm: function(){
      var that = this;
      axios
      .post("addInventaris",{
        idInventaris:that.idInventaris,
        namaInventarisir:that.namaInventarisir,
        kodeInventarisir:that.kodeInventarisir,
        keteranganInventarisir:that.keteranganInventarisir,
        Kondisi:that.Kondisi,
        Jumlah:that.Jumlah,
        Jenis:that.Jenis,
        Ruang:that.Ruang
      })
      .then(response => {
        that.$emit('successAdd');
        that.isLoading = false;
      })
      .catch(function(error) {
        console.log(error.response.data);
        that.isLoading = false;
      });
    },
    deleteForm:function(){
      axios
      .get("deleteInventaris/"+this.idInventaris)
      .then(response => {
        console.log(response.data);
        this.$emit('successAdd');
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    }
  }
};
</script>