<template>
  <div>
    <md-dialog :md-active.sync="showJenisBarang">
      <modal-jenisbarang style="overflow-y:scroll"></modal-jenisbarang>
    </md-dialog>
    <md-dialog :md-active.sync="showRuang">
      <modal-ruang style="overflow-y:scroll"></modal-ruang>
    </md-dialog>
    <md-dialog :md-active.sync="showInventaris" style="width:500px;">
      <modal-inventaris :idInventaris="idInventaris"  :detailMode="detailMode" v-on:successAdd="successAdd"></modal-inventaris>
    </md-dialog>
    <md-button class="md-primary md-raised" @click="showJenisBarang = true">Tambah Jenis Barang</md-button>
    <md-button class="md-primary md-raised" @click="showRuang = true">Tambah Ruang</md-button>
    <md-button class="md-primary md-raised" @click="showModalInventaris(null)">Tambah Inventaris</md-button>
    <md-empty-state
    v-if="Inventarises.length == 0"
    md-rounded
    md-icon="dashboard"
    md-label="Peminjaman"
    md-description="Data peminjaman masih kosong.">
    </md-empty-state>
    <div class="md-layout" v-if="Inventarises.length > 0">
      <div class="md-layout-item">
        <md-table v-model="Inventarises" md-card  :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder">
          <md-table-toolbar>
            <h1 class="md-title">Inventaris</h1>
          </md-table-toolbar>
          <md-table-row slot="md-table-row" slot-scope="{ item }" md-auto-select>
            <md-table-cell md-label="Kode Inventaris" md-sort-by="kode_inventaris">{{ item.kode_inventaris }}</md-table-cell>
            <md-table-cell md-label="Nama Inventaris" md-sort-by="nama">{{ item.nama }}</md-table-cell>
            <md-table-cell md-label="Ruang" md-sort-by="ruang.nama_ruang">{{ item.ruang.nama_ruang }}</md-table-cell>
            <md-table-cell md-label="Jumlah" md-sort-by="jumlah">{{ item.jumlah }}</md-table-cell>
            <md-table-cell md-label="Tanggal Register" md-sort-by="tanggal_register">{{ item.tanggal_register }}</md-table-cell>
            <md-table-cell>
              <div style="display: inline-block">
                <md-tooltip direction="top">Edit</md-tooltip>
                <md-button class="md-icon-button md-primary md-raised" @click="onSelect(item,false)">
                  <md-icon>edit</md-icon>
                </md-button>
              </div>
              <div style="display: inline-block">
                <md-tooltip direction="top">Detail</md-tooltip>
                <md-button class="md-icon-button md-primary md-raised" @click="onSelect(item,true)">
                  <md-icon>info</md-icon>
                </md-button>
              </div>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </div>
    </div>
    <md-dialog-alert
    :md-active.sync="sukses"
    md-content="Data telah diubah !"
    md-confirm-text="OK" />
  </div>
</template>

<style lang="scss" scoped>
.md-app {
  min-height: 100vh;
  border: 1px solid rgba(#000, .12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.md-list-item{
  cursor:pointer
}
</style>

<script>
import FormJenisBarang from "./FormJenisBarangComponent.vue";
import FormRuang from "./FormRuangComponent.vue";
import FormInventarisir from "./FormInventarisirComponent.vue";
export default {
  name: "PeminjamanComponent",
  components: {
    "modal-jenisbarang" : FormJenisBarang,
    "modal-ruang" : FormRuang,
    "modal-inventaris" : FormInventarisir
  },
  data() {
    return {
      sukses:false,
      currentSort: 'kode_inventaris',
      currentSortOrder: 'asc',
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      menuVisible:false,
      Inventarises:null,
      count:0,
      showJenisBarang:false,
      showRuang:false,
      showInventaris:false,
      idInventaris:null,
      detailMode:false
    };
  },
  mounted(){
    this.list();
  },
  methods: {
    showModalInventaris: function(id,mode){
      this.detailMode = mode;
      console.log("Readonly 1 : "+this.detailMode);
      this.idInventaris = id;
      this.showInventaris = true;
    },
    list: function(){
      var that = this;
      axios
      .get("allInventaris/")
      .then(response => {
        console.log(response.data.data);
        that.Inventarises = response.data.data;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    onSelect (items,detailMode) {
      this.showModalInventaris(items.id_inventaris,detailMode)
    },
    successAdd(){
      this.showInventaris = false;
      this.sukses = true;
      this.list();
    }
  }
}
</script>