<template>
  <md-dialog-content>
    <h1>Pengembalian</h1>
    <md-table v-if="Inventarises.length > 0">
      <md-table-row>
        <md-table-head>No</md-table-head>
        <md-table-head>Kode</md-table-head>
        <md-table-head>Nama</md-table-head>
        <md-table-head>Jumlah</md-table-head>
      </md-table-row>
      <md-table-row v-for="(Items,Index) in Inventarises" :key="Items.ide_inventaris">
        <md-table-cell>{{Index+1}}</md-table-cell>
        <md-table-cell>{{Items.kode_inventaris}}</md-table-cell>
        <md-table-cell>{{Items.nama}}</md-table-cell>
        <md-table-cell>{{Details[Index].jumlah}}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-field>
      <label>NIP Peminjam</label>
      <md-input v-model="NIPPeminjam" readonly></md-input>
    </md-field>
    <md-field>
      <label>Nama Peminjam</label>
      <md-input v-model="NamaPeminjam" readonly></md-input>
    </md-field>
    <md-field>
      <label>Tanggal Pinjam</label>
      <md-input v-model="TanggalPinjam" readonly></md-input>
    </md-field>
    <md-field>
      <label>Tanggal Kembali</label>
      <md-input v-model="TanggalKembali" readonly></md-input>
    </md-field>
    <md-button v-if="Status" class="md-primary md-raised">Sudah Dikembalikan</md-button>
    <md-button v-else class="md-accent md-raised">Belum Dikembalikan</md-button>
  </md-dialog-content>
</template>

<script>
export default {
  name: "DetailPengembalianComponent",
  mounted: function() {
    this.fillForm();
  },
  props:{
    idPeminjaman: {
      type:Number,
      default: 0
    }
  },
  data() {
    return {
      Inventarises:[],
      Details:[],
      NIPPeminjam:null,
      NamaPeminjam:null,
      TanggalPinjam:null,
      TanggalKembali:null,
      Status:false
    };
  },
  methods: {
    fillForm: function() {
      var that = this;
      axios
      .get("getPengembalian/"+that.idPeminjaman)
      .then(response => {
        console.log(response.data.data);
        that.NIPPeminjam = response.data.data.pegawai.nip;
        that.NamaPeminjam = response.data.data.pegawai.nama_pegawai;
        that.TanggalPinjam = response.data.data.tanggal_pinjam;
        that.TanggalKembali = response.data.data.tanggal_kembali;
        that.Status = response.data.data.status_peminjaman == 1;
        that.Inventarises = response.data.data.inventaris;
        that.Details = response.data.data.detail;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    }
  }
};
</script>