<template>
  <div>
    <md-dialog :md-active.sync="showDetailPengembalian" style="width:500px">
      <detail-pengembalian :idPeminjaman="idPeminjaman" style="overflow-y:scroll"></detail-pengembalian>
    </md-dialog>
    <div class="md-layout">
      <div class="md-layout-item">
        <md-table v-if="Pengembalians.length > 0" v-model="Pengembalians" md-card  :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder">
          <md-table-toolbar>
            <h1 class="md-title">Pengembalian</h1>
          </md-table-toolbar>
          <md-table-row slot="md-table-row" slot-scope="{ item }" md-auto-select>
            <md-table-cell md-label="Nama Pegawai" md-sort-by="pegawai.nama_pegawai">{{ item.pegawai.nama_pegawai }}</md-table-cell>
            <md-table-cell md-label="Banyak Inventaris Dipinjam" md-sort-by="macam">{{ item.macam }}</md-table-cell>
            <md-table-cell md-label="Total Inventaris Dipinjam" md-sort-by="jumlah">{{ item.jumlah }}</md-table-cell>
            <md-table-cell md-label="Tanggal Pinjam" md-sort-by="tanggal_pinjam">{{ item.tanggal_pinjam }}</md-table-cell>
            <md-table-cell md-label="Action" md-sort-by="status_peminjaman">
              <div style="display: inline-block" v-if="item.status_peminjaman == 0">
                <md-tooltip direction="top">Kembalikan</md-tooltip>
                <md-button class="md-icon-button md-accent md-raised" @click="onKembali(item.id_peminjaman)">
                  <md-icon>call_received</md-icon>
                </md-button>
              </div>
              <div style="display: inline-block" v-else>
                <md-tooltip direction="top">Dikembalikan pada {{item.tanggal_kembali}}</md-tooltip>
                <md-button class="md-icon-button md-primary md-raised">
                  <md-icon>done</md-icon>
                </md-button>
              </div>
              <div style="display: inline-block">
                <md-tooltip direction="top">Info</md-tooltip>
                <md-button class="md-icon-button md-primary md-raised" @click="onDetail(item.id_peminjaman)">
                  <md-icon>info</md-icon>
                </md-button>
              </div>
            </md-table-cell>
          </md-table-row>
        </md-table>
        <md-empty-state
        v-else
        md-rounded
        md-icon="call_received"
        md-label="Pengembalian"
        md-description="Klik logo plus pada tab peminjaman untuk menambah peminjaman.">
        </md-empty-state>
      </div>
    </div>
    <md-dialog-alert
    :md-active.sync="sukses"
    md-content="Data telah diubah !"
    md-confirm-text="OK" />
  </div>
</template>

<style lang="scss" scoped>
.md-app {
  min-height: 100vh;
  border: 1px solid rgba(#000, .12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.md-list-item{
  cursor:pointer
}
</style>

<script>
import DetailPengembalianComponent from "./DetailPengembalianComponent.vue";
export default {
  name: "PengembalianComponent",
  components:{
    "detail-pengembalian" : DetailPengembalianComponent
  },
  props:["showKembalikan"],
  data() {
    return {
      sukses:false,
      currentSort: 'inventaris.kode_inventaris',
      currentSortOrder: 'asc',
      menuVisible:false,
      Pengembalians:null,
      idPeminjaman:null,
      showDetailPengembalian:false
    };
  },
  mounted(){
    console.log("showKembalikan :" +this.showKembalikan);
    this.list();
  },
  methods: {
    list: function(){
      var that = this;
      axios
      .get("allPengembalian/")
      .then(response => {
        console.log(response.data.data);
        that.Pengembalians = response.data.data;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    onKembali(id){
      var that = this;
      axios
      .get("Pengembalian/"+id)
      .then(response => {
        console.log(response.data.data);
        that.sukses = true;
        that.list();
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
    },
    onDetail(id){
      this.idPeminjaman = id;
      this.showDetailPengembalian = true;
    }
  }
}
</script>