<template>
  <md-dialog-content>
    <form @submit="checkForm">
      <h1>Inventarisir</h1>
      <md-field>
        <label for="Inventaris">Inventaris</label>
        <md-select v-model="IdInventaris" id="Inventaris" @md-selected="getPeminjaman">
          <md-option v-for="Item in Inventarises" :key="Item.id_inventaris" :value="Item.id_inventaris">
            {{Item.kode_inventaris}} {{Item.nama}}
          </md-option>
        </md-select>
      </md-field>
      <md-field>
        <label>Jumlah Tersedia</label>
        <md-input v-model="Jumlah" type="number" readonly required></md-input>
      </md-field>
      <md-field>
        <label>Jumlah Pinjam</label>
        <md-input v-model="JumlahPinjam" @input="setSisa" type="number" required></md-input>
      </md-field>
      <md-field>
        <label>Sisa Stok</label>
        <md-input v-model="Sisa" readonly type="number" required></md-input>
      </md-field>
      <md-button @click="submitForm" v-if="Sisa >= 0 && JumlahPinjam > 0" type="submit" class="md-primary md-raised">Save changes</md-button>
    </form>
  </md-dialog-content>
</template>

<script>
export default {
  name: "FormPinjamComponent",
  mounted: function() {
    this.fillForm();
  },
  data() {
    return {
      IdInventaris:null,
      Inventarises:[],
      Inventaris:null,
      Jumlah:0,
      JumlahPinjam:0,
      Sisa: 0
    };
  },
  methods: {
    setSisa:function(){
     this.Sisa = this.Jumlah - this.JumlahPinjam;
   },
   getPeminjaman:function(){
     var that = this;
     if(that.IdInventaris!==null){
       axios
      .get("getPeminjaman/"+that.IdInventaris)
      .then(response => {
        console.log(response.data.data);
        that.Jumlah = response.data.data.jumlah - response.data.data.terpinjam;
        that.Sisa = response.data.data.jumlah - response.data.data.terpinjam;
        that.Inventaris = response.data.data;
        that.JumlahPinjam = 0;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
     }
   },
  fillForm: function(){
    var that = this;
    that.isLoading = true;
    axios
      .get("allPeminjaman/")
      .then(response => {
        console.log(response.data.data);
        that.Inventarises = response.data.data;
        that.IdInventaris = response.data.data[0].id_inventaris;
      })
      .catch(function(error) {
        console.log(error.response.data);
      });
  },
  submitForm: function(){
    var that = this;
    that.$emit('successAdd',{
      "Inventaris":that.Inventaris,
      "JumlahPinjam":that.JumlahPinjam
      });
  },
  checkForm:function(e){
      e.preventDefault();
      console.log(e);
  },
}
};
</script>