<template>
  <center>
    <md-dialog :md-active.sync="showPinjam" style="width:500px;">
      <modal-pinjam v-on:successAdd="successAdd"></modal-pinjam>
    </md-dialog>
    <md-button
      class="md-fab md-primary md-icon-button md-fixed md-fab-bottom-right"
      @click="showPinjam = true"
    >
      <md-icon>add</md-icon>
    </md-button>
    <md-empty-state
      v-if="Inventarises.length == 0"
      md-rounded
      md-icon="call_made"
      md-label="Peminjaman"
      md-description="Klik logo plus untuk menambah peminjaman."
    ></md-empty-state>

    <md-card class="md-layout" style="width:700px;margin-top:20px">
      <div class="md-layout-item">
        <md-table v-if="Inventarises.length > 0">
          <md-table-row>
            <md-table-head>Kode</md-table-head>
            <md-table-head>Nama</md-table-head>
            <md-table-head>Jumlah</md-table-head>
            <md-table-head></md-table-head>
          </md-table-row>
          <md-table-row v-for="(Items,Index) in Inventarises" :key="Items.id_inventaris">
            <md-table-cell>{{Items.Inventaris.kode_inventaris}}</md-table-cell>
            <md-table-cell>{{Items.Inventaris.nama}}</md-table-cell>
            <md-table-cell>{{Items.JumlahPinjam}}</md-table-cell>
            <md-table-cell>
              <md-button
                class="md-icon-button md-accent md-raised"
                @click="Inventarises.splice(Index,1)"
              >
                <md-icon>delete</md-icon>
              </md-button>
            </md-table-cell>
          </md-table-row>
        </md-table>
        <form @submit="checkForm" v-if="Inventarises.length > 0" style="margin:20px">
          <md-field>
            <label for="pegawai">Pegawai</label>
            <md-select v-model="Pegawai" name="pegawai" id="pegawai" required>
              <md-option
                v-for="Item in Pegawais"
                :key="Item.id_pegawai"
                :value="Item.id_pegawai"
              >{{Item.nip}} {{Item.nama_pegawai}}</md-option>
            </md-select>
          </md-field>
          <md-datepicker v-model="TanggalPinjam" md-immediately>
            <label>Tanggal Pinjam</label>
          </md-datepicker>
          <md-datepicker v-model="TanggalKembali" md-immediately>
            <label>Tanggal Kembali</label>
          </md-datepicker>
          <md-button
            @click="submitForm"
            v-if="Inventarises.length > 0 && Pegawai!=null && TanggalPinjam!=null && TanggalKembali!=null"
            type="submit"
            class="md-primary md-raised"
          >Save changes</md-button>
        </form>
      </div>
    </md-card>
    <md-dialog-alert
      :md-active.sync="sukses"
      md-content="Data telah diubah !"
      md-confirm-text="OK"
    />
  </center>
</template>

<style lang="scss" scoped>
.md-app {
  min-height: 100vh;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.md-list-item {
  cursor: pointer;
}
</style>

<script>
import FormInventarisir from "../inventarisir/FormInventarisirComponent.vue";
import FormPeminjam from "./FormPinjamComponent.vue";
export default {
  name: "PeminjamanComponent",
  components: {
    "modal-pinjam": FormPeminjam
  },
  data() {
    return {
      Pegawais: null,
      Pegawai: null,
      TanggalPinjam: null,
      TanggalKembali: null,
      sukses: false,
      Inventarises: [],
      showPinjam: false
    };
  },
  mounted() {
    this.listPegawai();
  },
  methods: {
    listPegawai() {
      var that = this;
      axios
        .get("allPegawai")
        .then(response => {
          that.Pegawais = response.data.data;
          that.Pegawai = response.data.data[0].id_pegawai;
        })
        .catch(response => {
          console.log(response.response.data);
        });
    },
    submitForm: function() {
      var that = this;
      axios
        .post("addPeminjaman", {
          Inventaris: that.Inventarises,
          JumlahPinjam: that.JumlahPinjam,
          Pegawai: that.Pegawai,
          TanggalPinjam: that.TanggalPinjam,
          TanggalKembali: that.TanggalKembali
        })
        .then(response => {
          console.log(response.data);
          that.sukses = true;
          that.NamaPegawai = null;
          that.NIPPegawai = null;
          that.AlamatPegawai = null;
          that.TanggalPinjam = null;
          that.TanggalKembali = null;
          that.Inventarises = [];
          that.isLoading = false;
        })
        .catch(function(error) {
          console.log(error.response.data);
          that.isLoading = false;
        });
    },
    checkForm: function(e) {
      e.preventDefault();
      console.log(e);
    },
    successAdd(data) {
      this.showPinjam = false;
      var duplicate = null;
      this.Inventarises.forEach(function(deta, index) {
        if (deta.Inventaris.id_inventaris == data.Inventaris.id_inventaris) {
          duplicate = index;
        }
      });
      if (duplicate == null) {
        this.Inventarises.push(data);
      } else {
        this.Inventarises[duplicate] = data;
      }
    }
  }
};
</script>